* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    font-family: Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f8f8;
    position: relative;
    margin: 3em
}

.items-container {
    margin-top: 1em;
    display: block;
    max-width: 33%;
    z-index: 2;
}

a {
    text-decoration: none;
}

.collage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vw;
    margin: auto;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.collage img {
    max-width:800px;
    /* max-height:100%; */
    display: block;
    /* z-index: 1; */
}

@media only screen and (max-device-width: 1000px) {
    .main {
        max-width: 100%;
    }
    .items-container {
        max-width: 100%;
    }
    .collage {
        width: 100%;
        max-width: 100%;
        display: block;
        position: relative;
    }
    .collage img {
        display: block;
        width: 100%;
        max-width: 97vw;
    }
}